<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SampleFile" value="C:\LLVault\Git\Repos\Personal\HtmlToImage\_SolutionItems\SampleHtmlFile\Sample1.html" />
		<add key="OutputPath" value="C:\LLVault\Git\Repos\Personal\HtmlToImage\_SolutionItems\ThumbnailImages" />
		<add key="ImageWidth" value="400" />
		<add key="ImageHeight" value="300" />
		<add key="HtmlToImageProvider" value="Puppeteer" /> <!-- Set to either Puppeteer or EvoPdf -->
	</appSettings>
</configuration>